PUSHI 0
PUSHI 0
PUSHI 0
START
PUSHS "Escreve o valor de x"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHS "Escreve o valor de y"
WRITES
WRITELN
READ
ATOI
STOREG 1
PUSHG 0
PUSHG 1
EQUAL
JZ label0
PUSHG 0
PUSHG 1
ADD
STOREG 2
JUMP label0f
label0: NOP
PUSHG 1
STOREG 2
label0f: NOP
PUSHG 2
WRITEI
WRITELN
STOP
